language: go
go:
    - 1.7
    - 1.8
    - 1.9
    - tip

install:
  - go get github.com/golang/lint/golint
  - go get -t ./...

script:
  - golint $(go list ./... | grep -v /vendor/)
  - go test $(go list ./...| grep -v /vendor/)
